<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ 'nilai a : ' + a }}</h1>
      <h3>{{ 'rata-rata : ' + average }}</h3>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          average: 0,
        },
        methods: {
          openForm: function () {
            // this.a = parseInt(prompt("Masukkan Nilai a"));
            let array = [];
            var i = 0;
            sum = 0;
            for (i = 0; i < 100; i++) {
              while (sum < 10) {
                this.a = parseInt(prompt("Masukkan Nilai a "));
                var a = this.a;
                sum += a;
                this.a = sum;
                array.push(a);
              }
              this.average = sum / array.length;
            }
          },
        },
      });
    </script>
  </body>
</html>
